USE [master]
GO
/****** Object:  Database [MarsDB]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE DATABASE [MarsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MarsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MarsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MarsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MarsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [user1]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE LOGIN [user1] WITH PASSWORD=N'x4xpBe3YWJbfifdBery5NYG5cXpS0rO7hzekPk5z1fs=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [user1] DISABLE
GO
/****** Object:  Login [RANDIMA-PC\asus]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE LOGIN [RANDIMA-PC\asus] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQL$SQLEXPRESS]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE LOGIN [NT Service\MSSQL$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [BUILTIN\Users]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE LOGIN [BUILTIN\Users] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'ZfNR7MeVbLm1hO47pgpI2DqmcPpe7p00Jw6GCliBcT8=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'Zsf8o5AblnTaRW9Uunlxa1Tbzt5qxDq8yjp2BczIIN0=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [RANDIMA-PC\asus]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
USE [MarsDB]
GO
/****** Object:  User [user1]    Script Date: 9/10/2025 6:32:44 PM ******/
CREATE USER [user1] FOR LOGIN [user1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user1]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
GRANT CONNECT TO [user1] AS [dbo]
GO
GRANT SELECT TO [user1] AS [dbo]
GO
/****** Object:  Table [dbo].[Colonist]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colonist](
	[ColonistID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[Surname] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [varchar](10) NULL,
	[CivilStatus] [varchar](20) NULL,
	[Qualification] [varchar](100) NULL,
	[EarthAddress] [varchar](150) NULL,
	[ContactNo] [varchar](15) NULL,
	[FamilyMembersCount] [int] NULL,
	[TripID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ColonistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColonistHouse]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColonistHouse](
	[ColonistID] [int] NOT NULL,
	[LotNo] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ColonistHouse] PRIMARY KEY CLUSTERED 
(
	[ColonistID] ASC,
	[LotNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColonistJob]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColonistJob](
	[ColonistID] [int] NOT NULL,
	[JobID] [int] NOT NULL,
	[StartDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ColonistID] ASC,
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dependent]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dependent](
	[ColonistID] [int] NOT NULL,
	[DependentNo] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [char](1) NULL,
	[Relationship] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ColonistID] ASC,
	[DependentNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EJet]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EJet](
	[JetCode] [varchar](10) NOT NULL,
	[PassengerSeats] [int] NULL,
	[EngineType] [varchar](50) NULL,
	[NuclearEnginePower] [varchar](50) NULL,
	[MadeYear] [int] NULL,
	[Weight] [decimal](10, 2) NULL,
	[PowerSource] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[JetCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House](
	[LotNo] [varchar](10) NOT NULL,
	[NoOfRooms] [int] NULL,
	[SquareFeet] [decimal](10, 2) NULL,
	[AllocationType] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[LotNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobID] [int] NOT NULL,
	[JobName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pilot]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pilot](
	[PilotID] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[Rank] [varchar](50) NULL,
	[SpaceHours] [int] NULL,
	[Qualification] [varchar](100) NULL,
	[Designation] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PilotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PilotJet]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PilotJet](
	[PilotID] [int] NOT NULL,
	[JetCode] [varchar](10) NOT NULL,
	[AssignmentDate] [date] NULL,
 CONSTRAINT [PK_PilotJet] PRIMARY KEY CLUSTERED 
(
	[PilotID] ASC,
	[JetCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PilotQualification]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PilotQualification](
	[PilotID] [int] NOT NULL,
	[QualificationID] [int] NOT NULL,
	[Level] [varchar](50) NULL,
 CONSTRAINT [PK_PilotQualification] PRIMARY KEY CLUSTERED 
(
	[PilotID] ASC,
	[QualificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualification]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualification](
	[QualificationID] [int] NOT NULL,
	[PilotID] [int] NULL,
	[QualificationName] [varchar](100) NULL,
	[Level] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[QualificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trip]    Script Date: 9/10/2025 6:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trip](
	[TripID] [int] NOT NULL,
	[JetCode] [varchar](10) NOT NULL,
	[LaunchDate] [date] NULL,
	[ReturnDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Colonist] ([ColonistID], [FirstName], [MiddleName], [Surname], [DateOfBirth], [Gender], [CivilStatus], [Qualification], [EarthAddress], [ContactNo], [FamilyMembersCount], [TripID]) VALUES (1, N'Changed', N'R', N'Perera', CAST(N'1990-05-12' AS Date), N'Male', N'Married', N'Mechanical Engineer', N'No.1, Colombo', N'0771234567', 3, 1)
INSERT [dbo].[Colonist] ([ColonistID], [FirstName], [MiddleName], [Surname], [DateOfBirth], [Gender], [CivilStatus], [Qualification], [EarthAddress], [ContactNo], [FamilyMembersCount], [TripID]) VALUES (2, N'Nadeesha', N'K', N'Fernando', CAST(N'1985-11-30' AS Date), N'Female', N'Single', N'Medical Doctor', N'No.5, Galle', N'0712345678', 0, 1)
INSERT [dbo].[Colonist] ([ColonistID], [FirstName], [MiddleName], [Surname], [DateOfBirth], [Gender], [CivilStatus], [Qualification], [EarthAddress], [ContactNo], [FamilyMembersCount], [TripID]) VALUES (3, N'Kumara', NULL, N'Silva', CAST(N'1993-02-20' AS Date), N'Male', N'Single', N'Construction Manager', N'No.10, Kandy', N'0709876543', 0, 2)
GO
INSERT [dbo].[ColonistHouse] ([ColonistID], [LotNo]) VALUES (1, N'L001')
INSERT [dbo].[ColonistHouse] ([ColonistID], [LotNo]) VALUES (2, N'L002')
INSERT [dbo].[ColonistHouse] ([ColonistID], [LotNo]) VALUES (3, N'L003')
GO
INSERT [dbo].[ColonistJob] ([ColonistID], [JobID], [StartDate]) VALUES (1, 1, CAST(N'2039-12-01' AS Date))
INSERT [dbo].[ColonistJob] ([ColonistID], [JobID], [StartDate]) VALUES (2, 4, CAST(N'2039-12-01' AS Date))
INSERT [dbo].[ColonistJob] ([ColonistID], [JobID], [StartDate]) VALUES (3, 1, CAST(N'2039-12-02' AS Date))
GO
INSERT [dbo].[Dependent] ([ColonistID], [DependentNo], [Name], [DateOfBirth], [Gender], [Relationship]) VALUES (1, 1, N'Saman Perera', CAST(N'2012-06-15' AS Date), N'M', N'Son')
INSERT [dbo].[Dependent] ([ColonistID], [DependentNo], [Name], [DateOfBirth], [Gender], [Relationship]) VALUES (1, 2, N'Nimali Perera', CAST(N'2015-09-20' AS Date), N'F', N'Daughter')
INSERT [dbo].[Dependent] ([ColonistID], [DependentNo], [Name], [DateOfBirth], [Gender], [Relationship]) VALUES (4, 1, N'Kamal Jayasinghe', CAST(N'2014-03-10' AS Date), N'M', N'Son')
GO
INSERT [dbo].[EJet] ([JetCode], [PassengerSeats], [EngineType], [NuclearEnginePower], [MadeYear], [Weight], [PowerSource]) VALUES (N'EJ001', 200, N'Nuclear', N'2000MW', 2038, CAST(150000.00 AS Decimal(10, 2)), N'Nuclear')
INSERT [dbo].[EJet] ([JetCode], [PassengerSeats], [EngineType], [NuclearEnginePower], [MadeYear], [Weight], [PowerSource]) VALUES (N'EJ002', 180, N'Nuclear+HydroSplitter', N'1800MW', 2039, CAST(140000.00 AS Decimal(10, 2)), N'Hybrid')
INSERT [dbo].[EJet] ([JetCode], [PassengerSeats], [EngineType], [NuclearEnginePower], [MadeYear], [Weight], [PowerSource]) VALUES (N'EJ003', 220, N'Hydro-Nuc', N'2200MW', 2040, CAST(160000.00 AS Decimal(10, 2)), N'Hydro-Nuc')
GO
INSERT [dbo].[House] ([LotNo], [NoOfRooms], [SquareFeet], [AllocationType]) VALUES (N'L001', 4, CAST(1200.00 AS Decimal(10, 2)), N'Family')
INSERT [dbo].[House] ([LotNo], [NoOfRooms], [SquareFeet], [AllocationType]) VALUES (N'L002', 3, CAST(900.00 AS Decimal(10, 2)), N'Shared')
INSERT [dbo].[House] ([LotNo], [NoOfRooms], [SquareFeet], [AllocationType]) VALUES (N'L003', 2, CAST(700.00 AS Decimal(10, 2)), N'Shared')
GO
INSERT [dbo].[Job] ([JobID], [JobName]) VALUES (1, N'Construction')
INSERT [dbo].[Job] ([JobID], [JobName]) VALUES (2, N'Mechanical')
INSERT [dbo].[Job] ([JobID], [JobName]) VALUES (3, N'Power Generation')
GO
INSERT [dbo].[Pilot] ([PilotID], [Name], [DateOfBirth], [Rank], [SpaceHours], [Qualification], [Designation]) VALUES (1, N'Dr. Anura Perera', CAST(N'1980-03-22' AS Date), N'Captain', 12000, N'PhD Astrophysics', N'Senior Pilot')
INSERT [dbo].[Pilot] ([PilotID], [Name], [DateOfBirth], [Rank], [SpaceHours], [Qualification], [Designation]) VALUES (2, N'Dr. Saman Thilakaratne', CAST(N'1978-06-15' AS Date), N'Commander', 15000, N'MSc Aeronautics', N'Chief Pilot')
INSERT [dbo].[Pilot] ([PilotID], [Name], [DateOfBirth], [Rank], [SpaceHours], [Qualification], [Designation]) VALUES (3, N'Ms. Priya Jayawardena', CAST(N'1985-09-09' AS Date), N'Lieutenant', 9000, N'MSc Aerospace', N'Pilot')
GO
INSERT [dbo].[PilotJet] ([PilotID], [JetCode], [AssignmentDate]) VALUES (1, N'EJ001', CAST(N'2038-01-01' AS Date))
INSERT [dbo].[PilotJet] ([PilotID], [JetCode], [AssignmentDate]) VALUES (2, N'EJ002', CAST(N'2038-02-01' AS Date))
INSERT [dbo].[PilotJet] ([PilotID], [JetCode], [AssignmentDate]) VALUES (3, N'EJ003', CAST(N'2038-03-01' AS Date))
GO
INSERT [dbo].[PilotQualification] ([PilotID], [QualificationID], [Level]) VALUES (1, 1, N'Expert')
INSERT [dbo].[PilotQualification] ([PilotID], [QualificationID], [Level]) VALUES (1, 3, N'Intermediate')
INSERT [dbo].[PilotQualification] ([PilotID], [QualificationID], [Level]) VALUES (2, 2, N'Advanced')
GO
INSERT [dbo].[Qualification] ([QualificationID], [PilotID], [QualificationName], [Level]) VALUES (1, NULL, N'Basic Flight Training', N'Expert')
INSERT [dbo].[Qualification] ([QualificationID], [PilotID], [QualificationName], [Level]) VALUES (2, NULL, N'Advanced Jet Handling', N'Advanced')
INSERT [dbo].[Qualification] ([QualificationID], [PilotID], [QualificationName], [Level]) VALUES (3, NULL, N'Space Navigation', N'Intermediate')
GO
INSERT [dbo].[Trip] ([TripID], [JetCode], [LaunchDate], [ReturnDate]) VALUES (1, N'EJ001', CAST(N'2040-07-01' AS Date), CAST(N'2040-07-10' AS Date))
INSERT [dbo].[Trip] ([TripID], [JetCode], [LaunchDate], [ReturnDate]) VALUES (2, N'EJ001', CAST(N'2040-08-01' AS Date), CAST(N'2040-08-10' AS Date))
INSERT [dbo].[Trip] ([TripID], [JetCode], [LaunchDate], [ReturnDate]) VALUES (3, N'EJ002', CAST(N'2040-09-01' AS Date), CAST(N'2040-09-10' AS Date))
GO
ALTER TABLE [dbo].[Colonist]  WITH CHECK ADD  CONSTRAINT [FK_Colonist_Trip] FOREIGN KEY([TripID])
REFERENCES [dbo].[Trip] ([TripID])
GO
ALTER TABLE [dbo].[Colonist] CHECK CONSTRAINT [FK_Colonist_Trip]
GO
ALTER TABLE [dbo].[ColonistHouse]  WITH CHECK ADD  CONSTRAINT [FK_CH_Colonist] FOREIGN KEY([ColonistID])
REFERENCES [dbo].[Colonist] ([ColonistID])
GO
ALTER TABLE [dbo].[ColonistHouse] CHECK CONSTRAINT [FK_CH_Colonist]
GO
ALTER TABLE [dbo].[ColonistHouse]  WITH CHECK ADD  CONSTRAINT [FK_CH_House] FOREIGN KEY([LotNo])
REFERENCES [dbo].[House] ([LotNo])
GO
ALTER TABLE [dbo].[ColonistHouse] CHECK CONSTRAINT [FK_CH_House]
GO
ALTER TABLE [dbo].[ColonistJob]  WITH CHECK ADD FOREIGN KEY([ColonistID])
REFERENCES [dbo].[Colonist] ([ColonistID])
GO
ALTER TABLE [dbo].[ColonistJob]  WITH CHECK ADD FOREIGN KEY([JobID])
REFERENCES [dbo].[Job] ([JobID])
GO
ALTER TABLE [dbo].[Dependent]  WITH CHECK ADD FOREIGN KEY([ColonistID])
REFERENCES [dbo].[Colonist] ([ColonistID])
GO
ALTER TABLE [dbo].[PilotJet]  WITH CHECK ADD  CONSTRAINT [FK_PJ_EJet] FOREIGN KEY([JetCode])
REFERENCES [dbo].[EJet] ([JetCode])
GO
ALTER TABLE [dbo].[PilotJet] CHECK CONSTRAINT [FK_PJ_EJet]
GO
ALTER TABLE [dbo].[PilotJet]  WITH CHECK ADD  CONSTRAINT [FK_PJ_Pilot] FOREIGN KEY([PilotID])
REFERENCES [dbo].[Pilot] ([PilotID])
GO
ALTER TABLE [dbo].[PilotJet] CHECK CONSTRAINT [FK_PJ_Pilot]
GO
ALTER TABLE [dbo].[PilotQualification]  WITH CHECK ADD  CONSTRAINT [FK_PilotQualification_Pilot] FOREIGN KEY([PilotID])
REFERENCES [dbo].[Pilot] ([PilotID])
GO
ALTER TABLE [dbo].[PilotQualification] CHECK CONSTRAINT [FK_PilotQualification_Pilot]
GO
ALTER TABLE [dbo].[PilotQualification]  WITH CHECK ADD  CONSTRAINT [FK_PilotQualification_Qualification] FOREIGN KEY([QualificationID])
REFERENCES [dbo].[Qualification] ([QualificationID])
GO
ALTER TABLE [dbo].[PilotQualification] CHECK CONSTRAINT [FK_PilotQualification_Qualification]
GO
ALTER TABLE [dbo].[Qualification]  WITH CHECK ADD FOREIGN KEY([PilotID])
REFERENCES [dbo].[Pilot] ([PilotID])
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD  CONSTRAINT [FK_Trip_EJet] FOREIGN KEY([JetCode])
REFERENCES [dbo].[EJet] ([JetCode])
GO
ALTER TABLE [dbo].[Trip] CHECK CONSTRAINT [FK_Trip_EJet]
GO
USE [master]
GO
